* {
    margin: 0;
    padding: 0;
}

#app {
    width: 700px;
    padding: 1% 25%;
}

h2,
h4,
p {
    text-align: center;
}

.table {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar>div.title {
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.navbar>.icons {
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.title>div {
    align-self: baseline;
    margin: 15px;
}

.icons>div {
    margin: 20px;
}

tr>td,
thead>th {
    text-align: center;
    margin: 15px;
    border: 1px solid black;
}

.join {
    display: flex;
    justify-content: center;
}

.todo-item {
    align-self: baseline;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 3px;
    background-color: white;
    box-shadow: 1px 2px 2px black;
    font-size: 14px;
}

.game {
    width: 320px;
    align-self: baseline;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 1px 2px 2px black;
    font-size: 14px;
}

.listGames {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.titleGame {
    background-color: darkgrey;
    border-bottom: 1px solid black
}

.myRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid black;

}