<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/05f3114d49.js"></script>
    <link rel="stylesheet" href="../web/games.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="navbar todo-item" v-if="!(player)">
            <div class="title">

                <h2>SalvoGame</h2>

            </div>
            <div class="icons">
                <div><a href="../web/login.html" v-if="!(player)"><i class="fas fa-sign-in-alt"></i>Log In</a></div>
                <div><a href="../web/register.html" v-if="!(player)"><i class="far fa-edit"></i>Sign in</a></div>
            </div>
        </div>
        <div class="navbar todo-item" v-if="player">
            <div class="title">
                <h2>SalvoGame</h2>
            </div>
            <div class="icons">
                <div><a @click="logout()" href="/"><i class="fas fa-sign-out-alt">Log
                            Out</i></a>
                </div>
                <div>
                    <button class="btn" @click="newGame()">New Game</button>
                </div>
            </div>
        </div>
        <div class="welcome todo-item" v-if="player">
            <h3>Welcome {{player.playerName}}</h3>
        </div>
        <div class="navbar2 todo-item">
            <h2>List of Games</h2>
        </div>
        <div v-if="!(player)">
            <div class="listGames" v-if="allGames.length>0">
                <div class="game" v-for="game in allGames">
                    <div class="titleGame">
                        <h4>Game {{game.id}}</h4>
                        <p>{{game.created}}</p>
                    </div>
                    <div class="gameData" v-if="game.gamePlayers.length>0">
                        <div class="myRow" v-for="gp in game.gamePlayers">
                            <div class="item1">GP: {{gp.id}}</div>
                            <div class="item2">{{gp.player.user.split('@').shift()}}</div>
                            <div class="item3" v-if="gp.player.score">Score:{{gp.player.score}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div v-if="player">
            <div class="listGames">
                <div>
                    <div class="games">
                        <h3>My Games</h3>
                    </div>
                    <!-- <div class="loader" v-if="allGames.length==0">
                    </div> -->
                    <div class="game" v-if="allGames.length>0">
                        <div v-for="games in allGames">
                            <div class="titleGame">

                                <h4>Game {{games.id}}</h4>
                                <p>{{games.created}}</p>
                            </div>
                            <div class="gameData" v-if="games.gamePlayers.length>0">
                                <div class="myRow" v-for="gp in games.gamePlayers">
                                    <div class="item1">GP: {{gp.id}}</div>
                                    <div class="item2">{{gp.player.user.split('@').shift()}}</div>
                                    <div class="item3" v-if="gp.player.score||gp.player.score==0">
                                        Score:{{gp.player.score}}</div>
                                    <div class="item3" v-else>
                                        <button class="btn" @click="rejoin(gp.id)"
                                            v-if="player.playerName==gp.player.user">ReJoin</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div v-if="totalGames.length>0">
                    <div>
                        <div class="games">
                            <h3>Join Games</h3>
                        </div>
                        <div class="game" v-for="ga in totalGames">
                            <div v-if="ga.Players==1">
                                <div class="titleGame">
                                    <h4>Game {{ga.gameID}}</h4>
                                </div>
                                <div class="gameData">
                                    <div class="myRowJoin">
                                        <div class="enemy">Enemy: {{ga.Enemy.split('@').shift()}}</div>
                                        <div class="join">
                                            <button class="btn" @click="join(ga.gameID)"
                                                v-if="ga.Players==1">Join</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="board todo-item">
            <div>
                <h2>LeaderBoard</h2>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <th class="name">Player</th>
                        <th>Games</th>
                        <th>Points</th>
                        <th>Wins</th>
                        <th>Tides</th>
                        <th>Loses</th>
                    </thead>
                    <tbody v-if="allPlayers">
                        <tr v-for="player in allPlayers">
                            <td class="name">{{player.player.split('@').shift()}}</td>

                            <td v-if=(!player.totalGames)>0</td>
                            <td v-else>{{player.totalGames}}</td>

                            <td v-if=(!player.totalPoints)>0</td>
                            <td v-else>{{player.totalPoints}}</td>

                            <td v-if=(!player.wins)>0</td>
                            <td v-else>{{player.wins}}</td>

                            <td v-if=(!player.tides)>0</td>
                            <td v-else>{{player.tides}}</td>

                            <td v-if=(!player.loses)>0</td>
                            <td v-else>{{player.loses}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue">
    </script>
    <script src="../web/games.js"></script>

</body>

</html>