* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/46803hd.jpg);
  background-position-x: 0;
  background-position-y: 0;
}

#shipSender .btn {
  padding: 15px 32px;
  width: 150px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  box-shadow: inset 0px 0px 10px 5px;
  align-self: center;
  background-color: #55d12f;
  border-color: rgb(60, 64, 75);

}

#reset .btn {
  padding: 15px 32px;
  width: 150px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  box-shadow: inset 0px 0px 10px 5px;
  align-self: center;
  background-color: #d12f2f;
  border-color: rgb(60, 64, 75);

}

.salvoSender .btn {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  box-shadow: inset 0px 0px 10px 5px;
  align-self: center;
  background-color: #d12f2f;
  border-color: rgb(104, 51, 47);

}

.modal-footer .btn {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  box-shadow: 1px 3px 4px;
  align-self: center;
  background-color: rgb(204, 96, 24);
}

.navbar .btn {
  padding: 3px 8px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  box-shadow: 1px 3px 4px white;
  align-self: center;

}

.icons>div {
  align-self: center;
  margin: 20px;
}

.navbar.todo-item {
  width: 100%;
  height: 45px;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;

}

.title h2 {
  color: rgb(204, 96, 24);
  font-size: 14px;
}

.navbar .titlebar {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
}

.navbar>.icons {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin-right: 20px;

}

.navbar>.icons>div>a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

/* .title>div {
  align-self: baseline;
  margin: 15px;
} */

#app {
  position: relative;
}

.modal {
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/**************Modal Content***************/
.modal-content {
  position: fixed;
  bottom: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background-color: #fefefe;
  width: 50%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(55, 60, 70);
  border: 1px solid rgb(204, 96, 24);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: rgb(55, 60, 70);
  border: 1px solid rgb(204, 96, 24);
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/******************************************/
#action {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  align-self: center;
}

.titlebar h2 {
  font-size: 22px;
  color: rgb(204, 96, 24)
}

.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  display: flex;
  padding: 0;
  width: 100%;
  height: 25px;
  justify-content: center;
  margin-bottom: 20px !important;
}

.todo-item.waiting {
  align-self: center;
  margin-right: 35px;
  display: flex;
  align-self: center;
  justify-content: center;


}

.todo-item {
  align-self: baseline;
  border-radius: 2px;
  padding: 14px 8px;
  margin-bottom: 3px;
  background-color: #575455;
  box-shadow: 1px 2px 2px #575455;
  font-size: 10px;
  border: 2px solid rgb(204, 96, 24);
}

.todo-item>img {
  align-self: baseline;
  margin-right: 10px;
}


.todo-item>#z0 {
  height: 35px;
  width: 90px;
  margin-top: 10px;
}

.todo-item>#z0.vertical {
  height: 35px;
  width: 90px;
  margin-left: 25px;
  padding-bottom: 25px;
}

.todo-item>#z3 {
  height: 40px;
  width: 135px;
  margin-top: 5px;
}

.todo-item>#z3.vertical {
  height: 40px;
  width: 135px;
  margin-left: -15px;
  padding: 50px 0;
}

.todo-item>#z2 {
  width: 180px;
}

.todo-item>#z2.vertical {
  width: 180px;
  margin-left: -40px;
  padding: 55px 0;
}

.todo-item>#z1 {
  width: 205px;
}

.todo-item>#z1.vertical {
  width: 205px;
  margin-left: -50px;
  padding: 65px 0;
}

.todo-item>#z4 {
  height: 45px;
}

.todo-item>#z4.vertical {
  height: 45px;
  margin-left: -35px;
  padding: 55px 0;

}

.grid1 {
  position: relative;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.grid2 {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}

.cell {
  border: 1px solid black;
  background-color: rgb(212, 212, 143);
}

.cell>img {
  position: absolute;
}

.cell>#z0 {
  height: 35px;
  width: 90px;
  margin-top: 10px;
}

.cell>#z0.vertical {
  height: 35px;
  width: 90px;
  margin-left: -25px;
  margin-top: 35px;
}

.cell>#z3 {
  height: 40px;
  width: 135px;
  margin-top: 5px;
}

.cell>#z3.vertical {
  height: 40px;
  width: 135px;
  margin-left: -50px;
  margin-top: 50px;
}

.cell>#z2 {

  width: 180px;
}

.cell>#z2.vertical {
  width: 180px;
  margin-left: -80px;
  margin-top: 75px;
}

.cell>#z1 {
  width: 205px;
}

.cell>#z1.vertical {
  width: 205px;
  margin-left: -90px;
  margin-top: 95px;
}

.cell>#z4 {
  height: 45px;
}

.cell>#z4.vertical {
  height: 45px;
  margin-left: -75px;
  margin-top: 75px;
}

.shipPart {
  background-color: green !important;
}

#ships {
  border: 1px solid rgb(204, 96, 24);
  border-radius: 2px;
  padding: 14px 8px;
  margin-bottom: 3px;
  background-color: rgb(52, 56, 65);
  box-shadow: 8px 8px 10px 3px rgb(0, 0, 0);
  font-size: 8px;
}

.salvoCont {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: -75px;
  margin-right: 20px;
}

#salvo {
  border: 1px solid rgb(204, 96, 24);
  border-radius: 2px;
  padding: 14px 8px;
  margin-bottom: 3px;
  background-color: rgb(52, 56, 65);
  box-shadow: -8px 8px 10px 1px rgb(0, 0, 0);
  font-size: 8px;
}

.separator {
  width: 500px;
  min-height: 50px;
  background-color: darkcyan;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}






.separator>div>div {
  border: 1px solid red;
}

.salvo {
  background-color: red !important;
}

.hit {
  background-color: orange !important;
}

.fail {
  background-color: blue !important;
}


tr>td,
thead>th {
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}

.salvoSender {
  display: flex;
  margin: 30px;
  justify-content: center;
}



.td1 {
  width: 100%;
}

.tr3,
.tr2,
.tr1 {
  width: 100%;
  display: flex;
  justify-content: left;
}


.td1 {
  text-align: center;
}

.td1>p {
  font-size: 16px;
  font-weight: bold;
}

.td3,
.td2 {
  width: 33%;
  border: 1px solid black;
}

.table {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.table>* {
  font-size: 12px;
}


.td3 {
  width: 100%;
}



@media only screen and (max-width: 700px) and (orientation: portrait) {
  .grid1 {
    position: relative;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
  }

  .grid2 {
    /* width: 400px;
    height: 400px; */
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
  }

  #ships {
    border: 1px solid rgb(204, 96, 24);
    border-radius: 2px;
    padding: 8px 4px;
    margin-bottom: 3px;
    background-color: rgb(52, 56, 65);
    box-shadow: 1px 2px 3px 1px rgb(0, 0, 0);
    font-size: 6px;
  }


  #salvo {
    border: 1px solid rgb(204, 96, 24);
    border-radius: 2px;
    padding: 8px 4px;
    margin-bottom: 3px;
    background-color: rgb(52, 56, 65);
    box-shadow: -1px 2px 3px 1px rgb(0, 0, 0);
    font-size: 6px;
  }

  .separator {
    width: 400px;
    min-height: 20px;
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cell>#z0 {
    height: 30px;
    width: 70px;
    margin-top: 6px;
  }

  .cell>#z0.vertical {
    height: 30px;
    width: 70px;
    margin-left: -22px;
    margin-top: 24px;
  }

  .cell>#z3 {
    height: 35px;
    width: 105px;

  }

  .cell>#z3.vertical {
    height: 35px;
    width: 105px;
    margin-left: -42px;
    margin-top: 42px;
  }

  .cell>#z2 {
    width: 144px;
  }

  .cell>#z2.vertical {
    width: 144px;
    margin-left: -63px;
    margin-top: 60px;
  }

  .cell>#z1 {
    width: 170px;
    margin-top: -5px;
  }

  .cell>#z1.vertical {
    width: 170px;
    margin-left: -77px;
    margin-top: 79px;
  }

  .cell>#z4 {
    height: 35px;
  }

  .cell>#z4.vertical {
    height: 35px;
    margin-left: -55px;
    margin-top: 60px;
  }

  .todo-item>#z0 {
    height: 35px;
    width: 90px;
    margin-top: 10px;
  }

  .todo-item>#z0.vertical {
    height: 35px;
    width: 90px;
    margin-left: 25px;
    padding-bottom: 25px;
  }

  .todo-item>#z3 {
    height: 40px;
    width: 135px;
    margin-top: 5px;
  }

  .todo-item>#z3.vertical {
    height: 40px;
    width: 135px;
    margin-left: -15px;
    padding: 50px 0;
  }

  .todo-item>#z2 {
    width: 180px;
  }

  .todo-item>#z2.vertical {
    width: 180px;
    margin-left: -40px;
    padding: 55px 0;
  }

  .todo-item>#z1 {
    width: 205px;
  }

  .todo-item>#z1.vertical {
    width: 205px;
    margin-left: -50px;
    padding: 65px 0;
  }

  .todo-item>#z4 {
    height: 45px;
  }

  .todo-item>#z4.vertical {
    height: 45px;
    margin-left: -35px;
    padding: 55px 0;

  }

}