<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="message.length==0">
            <div class="title todo-item">
                <h2>Game ID {{gameId}} date: {{dateGame}} for player: {{player}}</h2>
                <div class="todo-item waiting" v-if="!(enemy)">
                    <h2>Waiting for Enemy</h2>
                </div>
            </div>

            <!-- <div>
                <button @click="test()">test</button>
            </div> -->


            <div class="listShips" v-if="!send">
                <div class="todo-item" v-for="(item, i) in imgs" v-key="i" :id="'div'+i">
                    <img :src="item" alt="" draggable="true" @tap="dragStart(i,$event)"
                        @dragstart="dragStart(i, $event)" @dragover.prevent @drop="drop($event)" :id="'z'+ i">
                    <input type="checkbox" @click="rotate(event)">vertical</input>
                </div>
                <div id="shipSender" class="todo-item" v-if="ships.length==5">
                    <button @click="sendShips($event)"> Ships are Ready </button>
                </div>
                <div id="reset" class="todo-item" v-if="ships.length>1">
                    <button @click="reset($event)">reset positions</button>
                </div>
            </div>
            <div id="action">

                <div class="grid1 todo-item" id="ships">
                    <div @dragover.prevent @drop="drop($event)" v-for="pos in positions" class="cell" :id="pos">{{pos}}
                    </div>
                </div>

                <div class="salvoCont" v-if="enemy">
                    <div class="salvoSender" id="salvoSender"><button @click="sendSalvos($event)" v-if="send">Send
                            Salvo</button>
                        <!-- <button @click="sendSalvos($event)" disabled v-else>Send
                            Salvo</button> -->
                    </div>
                    <div class="todo-item" v-if="send">
                        <div class="table">
                            <div class="tr1">
                                <div class="td1">
                                    <p>{{player}}</p>
                                </div>
                            </div>
                            <div class="tr1">
                                <div class="td1">
                                    <div class="tr2">
                                        <div class="td2">turn</div>
                                        <div class="td2">Left</div>
                                        <div class="td2">Type</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tr1">
                                <div class="td1">
                                    <div class="tr2">
                                        <div class="td2">{{oldTurn}}</div>
                                        <div class="td2">
                                            <div class="tr3" v-for="ship in ships">
                                                <div class="td3" v-if="!ship.sunk">{{ship.life}}</div>
                                                <div class="td3" v-else>Sunken!</div>
                                            </div>
                                        </div>
                                        <div class="td2">
                                            <div class="tr3" v-for="ship in ships">
                                                <div class="td3">{{ship.type}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table">
                            <div class="tr1">
                                <div class="td1">
                                    <p>{{enemy}}</p>
                                </div>
                            </div>
                            <div class="tr1">
                                <div class="td1">
                                    <div class="tr2">
                                        <div class="td2">turn</div>
                                        <div class="td2">Left</div>
                                        <div class="td2">Type</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tr1" v-for="(salvo,i) in salvoes">
                                <div class="td1">
                                    <div class="tr2">
                                        <div class="td2">{{salvo.turn}}</div>
                                        <div class="td2">
                                            <div class="tr3" v-for="succes in salvo.Success">
                                                <div class="td3" v-if="succes>0">{{succes}}</div>
                                                <div class="td3" v-else>Sunken!</div>
                                            </div>
                                        </div>
                                        <div class="td2">
                                            <div class="tr3" v-for="key in keys[i]">
                                                <div class="td3">{{key}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="salvo" class="grid2" @load="showSalvos()" v-if="send">
                    <div class="cell" v-for="pos in positions" @click="addSalvoLocation($event)" :id="'salvo'+pos">
                        {{pos}}</div>
                </div>
            </div>

        </div>
        <div v-else>
            <a href="./games.html">{{message}}</a>

        </div>
        <div v-if="popup">
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./DragDropTouch.js"></script>
    <script src="./game.js"></script>
</body>

</html>